@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>


<p>My name is Alexa and I am an Informatics Nurse Specialist and Software Engineer Intern.  I am also an U.S. Army veteran. While serving my country, I worked as a Software Analyst. During that time I volunteered to become a Combat Lifesaver and found that I not only had a passion for working with computers, but that I also enjoyed working in healthcare. </p>
<p>After my enlistment with the U.S. Army, I went to pursue my career as a Nurse. I started as a Licensed Practical Nurse and worked my way up to becoming a Registered Nurse with a Master’s of Science in Nursing, with a specialty in Nursing Informatics. </p>
<p>Ready to jump into the world of Nursing Informatics, I realized that I could better fulfill my dream if I delved into computer programming. Then one day I found out about the We Can Code It Bootcamp and all the computer programming they had to offer. </p>




