@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    5150 Fenn Rd.<br />
    Medina, OH 44256<br />
    <abbr title="Phone">P:</abbr>
    330.723.1280
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/alexa-guzman-85026769">Alexa Guzman</a><br />
    <strong>GitHub> <a href="https://github.com/AlexaGuzmanMSN/FinalPortfolio">FinalPortfolio</a>
</address>